*{
    padding:0px;
    margin:0;
}
.general-div{
width: 100%;
}
.nav-container{
    width:100%;
    
    position: fixed;
    background: blue;
}
.nav-container__item{
    height: 4rem;
    background-color: black; 
    display: flex;
    justify-content: flex-end;
    
      
    
}

div .container-ul__item{
    display: flex;
    
    align-items: center;
    
    list-style: none;
    
    
}


.container-ul__item a{
    margin-right:20px;
    text-decoration: none;
    color:white;
    font-weight: bold;
    
}

.container-ul__item a:hover{
    margin-right:20px;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color:black;
    font-weight: bold;
    transition: all .6s;
    
}
.form-container{
    height: 100vh;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
div .form-container__first {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px;*/ 
    flex-wrap: wrap;
    margin:0px 50px;
    

}
.form-container__item{
    order:1;
    margin-top: 150px;
}
.form-container__input{
    width: 100%;
    padding: 8px 0px;
    margin:5px 0px;
    border:none;
    outline: none;
    border-bottom: 3px solid black;
    transition:all 0.5s;
    
    
    
}

.form-container__input:focus{
    width: 100%;
    padding: 8px;
    margin:5px 0px;
    border:none;
    outline: none;
    border-bottom: 3px solid gray;
    
    
}

.form-container__input::placeholder{
   text-transform: uppercase;
   font-weight: bold;
   color:black;
  
   
    
}
button[type="submit"]{
    width: 100%;
    padding: 8px;
    
    background-color: black;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    border:none;
    outline: none;
    cursor: pointer;    
}
button[type="submit"]:hover{
    padding: 8px;
    background-color: rgb(19, 18, 18);
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    border:none;
    outline:none;
}

/* textarea{
    height: 150px;
    resize: none;
    
} */

.form-container__a{
    display: flex;
    justify-content: space-evenly;
}
.form-container__a a{
    text-decoration: none;
}

.form-container__a a:hover{
    text-decoration: underline;
}

.form-container__a a:visited{
   color:rgba(161, 33, 161, 0.856);
}

.form-container__a a:link{
    color:blue;
 }
.img-container{
    min-width: 200px;
    max-width: 100%;
}
.img-container img{
    width: 300px;
    
}

.form-container__connect-with{
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
}
.divider{
    text-align: center;
    margin-top: 20px;
    
}

.form-container__connect-with a img{
    max-width: 50px;
    
}

@media (max-width: 576px) { 
    .img-container{
        margin-top:150px;
    }
   

    .form-container__item{
        margin-top:0;
    }

    .form-container__connect-with a img{
        margin-bottom: 20px;
    }

    
 }

 @media(max-width:280px){
    

    .form-container__item{
        padding: 0px 20px !important;
       }
 }